$black: #000;
$white: #fff;
$paper: rgba(69, 80, 108, 1);
$default: #fafafa;
$primary_light: rgba(72, 83, 106, 1);
$primary_main: rgba(39, 44, 55, 1);
$primary_dark: rgba(39, 44, 55, 1);
$primary_contrast_text: #fff;
$secondary_light: rgba(87, 204, 235, 1);
$secondary_main: rgba(97, 217, 250, 1);
$secondary_dark: rgba(75, 190, 221, 1);
$secondary_contrast_text: #fff;
$error_light: #e57373;
$error_main: #f44336;
$error_dark: #d32f2f;
$error_contrast_text: #fff;
$text_primary: rgba(0, 0, 0, 0.87);
$text_secondary: rgba(0, 0, 0, 0.54);
$text_disabled: rgba(0, 0, 0, 0.38);
$text_hint: rgba(0, 0, 0, 0.38);

$grey_icon_color: rgb(144, 144, 144);