.layout {
    .toolbar {
        background-color: $primary-main;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 18px;
        padding-right: 18px;

        h6 {
            color: $white;
        }
    }
}